<p id="notice"><%= notice %></p>

<h1>All Wineries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <% @wineries.each do |winery| %>
      <tr>
        <td><%= link_to winery.name, winery %></td>
        <td><%= winery.location %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
  <%= link_to 'New Winery', new_winery_path %>
<% end %>  
